In [2]:
import pandas as pd

In [3]:
folder="ml-32m"

In [18]:
movies_df=pd.read_csv(folder+"/movies.csv")
ratings_df=pd.read_csv(folder+"/ratings.csv")
tags_df=pd.read_csv(folder+"/tags.csv")

In [19]:
print(movies_df[movies_df["genres"]=="(no genres listed)"])

       movieId                                              title  \
15884    83773              Away with Words (San tiao ren) (1999)
16063    84768                                  Glitterbug (1994)
16354    86493    Age of the Earth, The (A Idade da Terra) (1980)
16494    87061                            Trails (Veredas) (1978)
17409    91246                           Milky Way (Tej√∫t) (2007)
...        ...                                                ...
87527   292241  The Smashing Pumpkins: Graceful Swans of Never...
87544   292395  Lewis & Clark: The Journey of the Corps of Dis...
87551   292477                          Secrets of the Sea (2022)
87557   292535                The Giants of Easter Islands (2023)
87576   292625                               Flaming Cloud (2023)

                   genres
15884  (no genres listed)
16063  (no genres listed)
16354  (no genres listed)
16494  (no genres listed)
17409  (no genres listed)
...                   ...
87527  (no genres listed)
87544  (no genres listed)
87551  (no genres listed)
87557  (no genres listed)
87576  (no genres listed)

[7080 rows x 3 columns]

In [20]:
movies_df=movies_df[movies_df["genres"]!="(no genres listed)"]

In [21]:
tags_df=tags_df[~tags_df["tag"].astype(str).str.isnumeric()]

In [22]:
print(tags_df)

         userId  movieId             tag   timestamp
0            22    26479     Kevin Kline  1583038886
1            22    79592        misogyny  1581476297
2            22   247150      acrophobia  1622483469
3            34     2174           music  1249808064
4            34     2174           weird  1249808102
...         ...      ...             ...         ...
2000067  162279    90645      Rafe Spall  1320817734
2000068  162279    91079   Anton Yelchin  1322337407
2000069  162279    91079  Felicity Jones  1322337400
2000070  162279    91658     Rooney Mara  1325828398
2000071  162279   100714     Julie Delpy  1373095449

[1999148 rows x 4 columns]